header.p-header.r-flex
    h1.logo 
        a(href="#")  GoTrieop
    nav.p-nav.r-flex
        ul.p-nav-link.r-flex
            li
                a(href="") Home
            li
                a(href="") Services
            li
                a(href="") Pricing
            li
                a(href="") Contack
        ul.btn-login.r-flex
            li
                button.btn Sign up
            li
                button.btn.btn_orange Login